<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chethankumar.englishdictionary">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="English Dictionary"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="English Dictionary">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondActivity" />
        <activity android:name=".DictionaryActivity" />
        <activity android:name=".ThirdActivity" />
        <activity android:name=".FourthActivity" />
        <activity android:name=".BookmarkActivity" />
        <activity android:name=".HistoryActivity"></activity>
    </application>

</manifest>
